{% extends 'layouts/default/page.html' %} {% load i18n %} {% block content %}
<style>
	.carousel-item img {
		object-fit: cover;
		height: 500px; /* Ajuste a altura conforme necessário */
	}
</style>
<div class="container text-center">
	<div>
		<img src="https://www.sapo.pt/pt/img/logo_sharing.png" width="100" alt="capa_noticia" />
	</div>
	{% if request.user.is_authenticated %} <div class="alert alert-success" role="alert">
		{% trans 'Your username is' %} <b>{{ request.user.username }}</b>. 
	  </div>{% else %}
	<div class="alert alert-primary" role="alert">{% trans 'You are a guest.' %}</div>

	{% endif %}
</div>
</div>
</br>

<div class="container">
	<div id="carouselExample" class="carousel slide">
		<div class="carousel-inner">
			{% for article in articles|slice:":3" %}
				<div class="carousel-item active">
					<img src="{{ article.urlToImage }}" class="d-block w-100" alt="capa_noticia" />
					<div class="carousel-caption d-none d-md-block">
						<h5>{{ article.title }}</h5>
						<p>{{ article.content }}</p>
					</div>
				</div>
			{% empty %}
				<li>No articles found.</li>
			{% endfor %}
			
		</div>
		
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</br>
</br>

{% if not request.user.is_authenticated %}
<h3>Para liberar mais notícias crie uma conta e se autentique <a href="{% url 'accounts:sign_up' %}">Register</a></h3>
{% endif %}
</br>
<h5>Top headlines</h5>
	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% if request.user.is_authenticated %}
		
			{% for article in articles %}
				<div class="col">
					<div class="card">
						<img src="{{ article.urlToImage|default:'https://www.nacion.com/resizer/iSycOQPaiC0b-_RbrrigqPe-ZhQ=/1200x0/center/middle/filters:quality(100)/arc-anglerfish-arc2-prod-gruponacion.s3.amazonaws.com/public/GOHRILVVB5HQNG4VS5XABOBTBA.png' }}" class="card-img-top" alt="img_capa">
						<div class="card-body">
							<h5 class="card-title"><a href="{{ article.url }}" target="_bank">{{ article.title }}</a></h5>
							<p class="card-text">{{ article.content }}</p>
						</div>
						<div class="card-footer">
							<small class="text-body-secondary">{{ article.publishedAt }}</small>
						</div>
					</div>
				</div>
			{% empty %}
				<li>No articles found.</li>
			{% endfor %}
		{% else %}
			{% for article in articles|slice:":9" %}
				<div class="col">
					<div class="card">
						<img src="{{ article.urlToImage|default:'https://www.nacion.com/resizer/iSycOQPaiC0b-_RbrrigqPe-ZhQ=/1200x0/center/middle/filters:quality(100)/arc-anglerfish-arc2-prod-gruponacion.s3.amazonaws.com/public/GOHRILVVB5HQNG4VS5XABOBTBA.png' }}" class="card-img-top" alt="img_capa">
						<div class="card-body">
							<h5 class="card-title"><a href="{{ article.url }}" target="_bank">{{ article.title }}</a></h5>
							<p class="card-text">{{ article.content }}</p>
						</div>
						<div class="card-footer">
							<small class="text-body-secondary">{{ article.publishedAt }}</small>
						</div>
					</div>
				</div>
			{% empty %}
				<li>No articles found.</li>
			{% endfor %}
			
		{% endif %}
	</div>
</div>


{% endblock %}
